.service-tab {
    &-menu {
        --border: 28px;
        --icon-size: 166px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 60px;
        .tab-btn {
            width: var(--icon-size);
            height: var(--icon-size);
            line-height: var(--icon-size);
            text-align: center;
            background-color: $smoke-color;
            border-radius: 50%;
            position: relative;
            z-index: 2;
            cursor: pointer;
            &:after {
                content: '';
                height: calc(var(--icon-size) - var(--border)*2);
                width: calc(var(--icon-size) - var(--border)*2);
                background-color: $white-color;
                border: 1px solid $theme-color;
                border-radius: inherit;
                z-index: -1;
                position: absolute;
                top: var(--border);
                left: var(--border);
                transition: 0.4s ease-in-out;
            }
            img {
                transition: 0.4s ease-in-out;
            }
            &.active {
                img {
                    filter: brightness(0) invert(1);
                }
                &:after {
                    background-color: $theme-color;
                }
            }
        }
        .indicator {
            position: absolute;
        }
    }
    display: flex;
    align-items: center;
    gap: 40px;
    &_img {
        flex: 500px;
    }
    &_content {
        flex: 640px;
    }
    &_title {
        font-size: 30px;
        a {
            color: inherit;
            &:hover {
                color: $theme-color
            }
        }
    }
    &_text {
        margin-bottom: 20px;
    }
    .service-list {
        margin-bottom: 35px;
        ul {
            padding: 0 0 0 23px;
            margin: 0;
            list-style-type: square;
        }
        li {
            margin-bottom: 12px;
            color: $title-color;
            text-align: left;
            &:last-child {
                margin-bottom: 0;
            }
            &::marker {
                color: $theme-color;
                font-size: 1.5em;
            }
        }
    }
}

@include lg {
    .service-tab {
        &-menu {
            --border: 20px;
            --icon-size: 140px;
            margin-bottom: 40px;
        }
    }
}

@include md {
    .service-tab {
        &-menu {
            --border: 10px;
            --icon-size: 100px;
            .tab-btn {
                img {
                    max-width: 40px;
                }
            }
        }
        flex-direction: column;
        &_img {
            flex: 1;
            width: 100%;
            img {
                width: 100%;
            }
        }
        &_content {
            flex: 1;
        }
        &_title {
            font-size: 26px;
        }
    }
}

@include sm {
    .service-tab {
        &-menu {
            --border: 6px;
            --icon-size: 80px;
            .tab-btn {
                img {
                    max-width: 35px;
                }
            }
        }
    }
}
@include xs {
    .service-tab {
        &-menu {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}