.service-box_wrapper {
    .service-title {
        .line-animation {
            right: 0;
        }
    }
}
.half-line-btn{
    &:before {
        right: 0; 
    }
     i {
        margin-left: 0;
        margin-right: 10px;
    }
}
.service-item{
    &_icon{
        &:before {
            left: unset;
            right: -16px; 
        }
    }
}