/* About 1 ---------------------------------- */  
.feature-box {
    display: flex;
    align-items: center;
    margin-left: -15px;
    &-wrap {
        display: flex;
        column-gap: 35px;
        row-gap: 20px;
        flex-wrap: wrap;
    }
    &_title {
        font-size: 20px;
        font-weight: 600;
        color: $white-color;
        max-width: 160px; 
        margin-bottom: 0;
        text-align: left;   
    }
    &_icon {
        @include equal-size-lineHeight(var(--icon-size, 90px));
        position: relative;
        border-radius: 50%;
        text-align: center;
        z-index: 2;
        &:before {
            content: "";
            @include equal-size(100%);
            background-image: linear-gradient(93.22deg, #252934 2.69%, rgba(30, 33, 43, 0) 79.63%);
            position: absolute;
            top: 0;
            left: 0;
            border-radius: inherit;
            z-index: -1;
            animation: spin 5s linear infinite;
        }
    }
}

@include sm {
    .feature-box {
        &-wrap {
            justify-content: center;
        }
    }
}